.tag {
    background: $color-primary;
    color: $color-secondary;
    width: 84px;
    height: 18px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 29px;

    @media screen and (min-width: $breakpoint-desktop) {
        height: 25px;
        font-size: 14px;
    }
}