.section-background {
    margin-bottom: 22px;
    margin: 20px;
        
    .background-about {
        background-image: url(../../asset/about-banner.png);
        background-size: cover;
        border-radius: 10px;

        .section-content {
            display: flex;
            align-items: center;
            height: 223px;
        }
    }
}