.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;

    @media screen and (min-width: $breakpoint-desktop) {
      margin: 40px 100px 0px;
    }
  
    img {
      height: 47px;
      width: 145px;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 210px;
        height: 68px;
      }
    }
  
    .nav {
      display: flex;
      gap: 10px;

      @media screen and (min-width: $breakpoint-desktop) {
        gap: 47px;
      }
  
      .nav-link {
        color: $color-primary;
        font-size: 12px;
        text-decoration: none;

        @media screen and (min-width: $breakpoint-desktop) {
          font-size: 24px;
        }
  
        &:focus, &:hover {
          text-decoration: underline;
        }
      }
    }
  }