footer {
    background-color: #000000;
    height: 85px;
    width: 100%;
    text-align: center;
    padding: 62px 0px;
    
    img {
      width: 122px;
      height: 40px;
    }
  
    p {
      color: $color-secondary;
      font-size: 12px;
    }
  }