/* VARIABLES */

$color-primary:#ff6060; 
$font-primary: "Montserrat-Medium", Helvetica;
$font-size-m : 12px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .LOGO {
    height: 47px;
    width: 145px;
  }

  .nav {
    display: flex;
    gap: 10px;

    .nav-link {
      color: $color-primary;
      font-family: $font-primary;
      font-size: $font-size-m;
      font-weight: 500;
      line-height: 17.1px;
      text-decoration: none;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }
  }
}
